mat-icon {
  vertical-align: middle;
  font-size: 35px;
  right: 0;
}

mat-divider {
  margin-top: 20px;
}

#title{
  width: 93%;
}

.botones {
  padding: 2rem 0 0.5rem 0;
}

.btn-form {
  width: 10rem;
  font-size: 14px;
  height: 2.5rem;
}
