<!--
<h2 mat-dialog-title>{{ data.title | uppercase }}</h2>
<mat-dialog-content cdkFocusInitial>
  <div [innerHTML]="data.content"></div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="primary" (click)="confirm()">
    {{ data.confirmButtonLabel }}
  </button>
  <button mat-stroked-button color="link" (click)="close()">
    {{ data.closeButtonLabel }}
  </button>
</mat-dialog-actions>
-->
<div class="dialog">
  <button type="button" mat-dialog-close class="close-dialog">
    <span class="iconcba s24 icon-cba-close-1"></span>
  </button>
  <div class="dialog-alert center">
    <span class="iconcba s40 icon-cba-alert-2"></span>
    <h3>{{ data.title | uppercase }}</h3>
    <div [innerHTML]="data.content"></div>
    <div fxLayout="row" fxLayoutAlign="center center" class="botones" fxLayoutGap="1rem">
      <button mat-raised-button
              color="primary"
              class="btn-primary round btn-form"
              (click)="confirm()">
        {{ data.confirmButtonLabel }}
      </button>
      <button mat-stroked-button
              mat-flat-button
              class="btn-flat-primary btn-gob round btn-form" (click)="close()">
        {{ data.closeButtonLabel }}
      </button>
    </div>
  </div>
</div>
