mat-icon {
  vertical-align: middle;
}

mat-divider {
  margin-top: 20px;
}

mat-dialog-content {
  max-height: 90vh;
  min-height: 60vh;
  overflow: hidden;
}

//noinspection CssInvalidPropertyValue
iframe {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}
