<h2 mat-dialog-title>{{ data.title | uppercase }}</h2>
<mat-dialog-content>
  <iframe id="grupo-unico-iframe" title="Grupo unico iframe" [src]="getUrl()">
  </iframe>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="center">
  <button mat-raised-button color="link" [mat-dialog-close]="false">Cerrar</button>
</mat-dialog-actions>
