<div class="navbar">
  <button mat-button [matMenuTriggerFor]="entidadesMenu">TRÁMITES</button> |
  <mat-menu #entidadesMenu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="/calderistas" routerLinkActive="activebutton">CONSULTA</button>
    <button mat-menu-item>EXPEDIENTES</button>
  </mat-menu>

  <button mat-button routerLink="/articulo/registrar" routerLinkActive="activebutton">ARTICULOS</button> |

  <button mat-button [matMenuTriggerFor]="calderistasMenu">PEDIDOS</button> |
  <mat-menu #calderistasMenu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="/calderistas" routerLinkActive="activebutton">CONSULTA</button>
  </mat-menu>

  <button mat-button routerLink="/l/usuarios" routerLinkActive="activebutton">USUARIOS</button> |

  <button mat-button [matMenuTriggerFor]="soporteMenu">SOPORTE</button>
  <mat-menu #soporteMenu="matMenu" yPosition="below">
    <button mat-menu-item>TIPO INSUMO</button>
  </mat-menu>
</div>
