ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6cbbf7;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #2196F3;
}

.active {
  background-color: #2196F3;
  border-top: 1px solid #ffffff;
}

.navbar {
  background-color: #354052;
  color: #F7FBFD;
  padding: 1% 0 1% 0;
}

.mat-button {
  font-weight: 300;
}

button {
  font-size: 14px;
  font-weight: 200;
}

.mat-menu-item {
  font-size: 12px;
}





