.titulo {
  text-align: center;
  color: #434549;
  margin-top: 4%;
}
.padre {
  height: 100%;
  margin-top: 5%;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.hijo {
  width: 300px;
  height: 280px;
  margin: 0 6% 0 2%;
}
.hijo p {
  width: 325px;
  text-align: justify;
  color: #434549;
}
.cuadro {
  width: 300px;
  height: 150px;
  border: 1px solid #c6c6c6;
  border-radius: 20px;
  padding: 15px;
  text-align: justify;
}
.cuadro:hover {
  cursor: pointer;
}
.cuadro img {
  width: 300px;
}

