<div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="header"
     fxLayout.gt-sm="row">
  <span><img id="image-ministerio" ngStyle.lt-sm="height: 50px; padding-left: 5px;"
             src="assets/img/logo-ministerio.svg"
             alt="Ministerio de Promoción del Empleo y de la Economía Familiar"/></span>
  <span *ngIf="user">
    <div class="loginCD representa">

      <div class="idCD">
        <div class="nombreCD" title="Ir a Ciudadano Digital">
          <div class="bienvenido">
          <span (click)="goToCidi()" >¡BIENVENIDO!<br></span>
            </div>
            <span class="usuario">{{user?.nombre + ' ' + user?.apellido}} <br></span>
          <div class="bienvenido cuil">
          <span *ngIf="user.esBeneficiario">CUIL:{{user.cuil}}<br></span>
          </div>
        </div>

        <div class="opciones">
          <span class="opcion">Administrador | </span>
          <span class="opcion cerrarSesion" title="Cerrar sesión" (click)="onLogout()">Cerrar sesión</span>
        </div>

      </div>
            <img fxShow.lt-sm="false" src="assets/img/ico_ciudig32.png" width="36" height="36"
                 alt="Ciudadano Digital" title="Ciudadano Digital"/>

      <!--       <div class="cerrarCD">
                <button id="btnCerrarSession" class="btnCerrarCD" title="Cerrar Sesión" (click)="onLogout()">
                    <img src="assets/img/ico_cerrarcd.png" alt="Cerrar Sesión"/>
                    Cerrar Sesión
                </button>
              </div>-->
    </div>
  </span>
</div>

