@import '~@angular/material/_theming.scss';

@include mat-core();

.header {
  padding: 0% 20px 10px 7px;
  margin: 2% 0 1% 1%;
  background: white;
  color: #fff;
  min-height: 80px;
}

#image-ministerio {
  height: 55px;
  padding-left: 20px;
}

.loginCD {
  line-height: 28px;
}

.loginCD img {
  padding: 0 0 0 0;
  margin: 0 6px 0 0;
  float: left;
}

.loginCD .representaCD img {
  padding: 0 0 0 0;
  margin: 0 3px 0 2px;
  float: none;
  vertical-align: top;
}

.loginCD .nombreCD {
  line-height: 17px;
  font-size: 12px;
  color: #F5B349;
  float: right;
  margin-top: 6px;
  margin-right: 4px;
  cursor: pointer;
}

.opciones {
  margin-right: 2px;
}

/*.loginCD .nombreCD:hover {
  text-decoration: underline;
}*/

.loginCD .nombreCD.blanco a, .loginCD .nombreCD.blanco:hover {
  color: #fff;
}

.loginCD .representaCD {
  line-height: 17px;
  font-size: 11px;
  color: #eeeeee;
  float: left;
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #e4b254;
}

.loginCD .representaCD span {
  font-weight: bold;
}

.loginCD .representaCD.blanco span, .loginCD .representaCD.blanco a:hover {
  color: #fff;
}

.loginCD .representaCD a:hover {
  text-decoration: underline;
}

.loginCD .idCD {
  float: left;
}

.loginCD.representa .idCD .nombreCD {
  margin-top: 0px;
}

.loginCD.representa .idCD .representaCD {
  clear: left;
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
  margin-top: 0;
}

.loginCD.representa .nombreCD {
}

.loginCD .iniciarCD, .loginCD .iniciarCD32 {
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  float: left;
  margin: 0 0 0 2px;
  border-left: 1px solid #e4b254;
  padding-left: 8px;
}

.loginCD .iniciarCD32 {
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 1px;
}

.loginCD .iniciarCD.blanco, .loginCD .iniciarCD32.blanco {
  color: #fff;
}

.loginCD .iniciarCD:hover {
  text-decoration: underline;
}

.loginCD .iniciarCD32.largo {
  padding-left: 8px;
  line-height: 30px;
}

.loginCD .iniciarCD.largo {
  padding-left: 8px;
  line-height: 27px;
}

.loginCD a {
  color: #333333;
  text-decoration: none;
}

.loginCD a img {
  border: none;
}

.cerrarCD {
  float: left;
  margin: 3px 0 0 12px;
  line-height: 12px;
  font-size: 10px;
  display: inline-block;
  *display: inline;
  padding: 3px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.cerrarCD img {
  margin: 1px 3px 0 0;
  border: none;
}

.cerrarCD img a {
  margin: 1px 3px 0 0;
  border: none;
}

.cerrarCD:hover {
  background-color: #fff;
  *background-color: #d9d9d9;
  background-image: -moz-linear-gradient(top, #ffffff, #fff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fff));
  background-image: -webkit-linear-gradient(top, #ffffff, #fff);
  background-image: -o-linear-gradient(top, #ffffff, #fff);
  background-image: linear-gradient(to bottom, #ffffff, #fff);
}

.btnCerrarCD {
  border: none;
  background-color: transparent;
  font-size: 9px;
  line-height: 13px;
  padding: 0 0 0 0;
}

.btnCerrarCD:hover {
  cursor: pointer
}

@media screen and (max-width: 600px) {
  .cerrarCD {
    float: right;
  }
}

.representaCD a:hover {
  cursor: pointer;
}

:host {
  .mat-toolbar {
    background-color: #354052;
  }
}

.bienvenido {
  color: #F5B349;
  font-family: "Roboto Light";
  letter-spacing: 0;
  font-size: 11px;
  text-align: right;
}
.cuil {
  font-size: 10px;
}

.usuario {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
}

.opcion {
  color: #5A5A5A;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  font-family: "Roboto Medium";
}
.opcion.cerrarSesion {
  cursor: pointer
}
