<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-form-field class="form-element">
    <input matInput placeholder="Domicilio" [value]="domicilio" readonly>
  </mat-form-field>
  <button id="btn_buscar" type="button" mat-raised-button color="primary" (click)="nuevo()" [disabled]="deshablitado()">Nuevo</button>
</div>
