<h1 mat-dialog-title>{{data.title}}</h1>
<form *ngIf="form" [formGroup]="form" mat-dialog-content (ngSubmit)="aceptar()">
  <p>{{data.description}}</p>
  <mat-form-field>
    <input matInput formControlName="value">
  </mat-form-field>
  <div>
    <button mat-button (click)="onNoClick()" type="button">Cancelar</button>
    <button type="submit" mat-button cdkFocusInitial [disabled]="form.invalid" >Aceptar</button>
  </div>
</form>
