<div>
<h3>Búsqueda de persona</h3>
<form *ngIf="form" (ngSubmit)="buscar()" [formGroup]="form" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-form-field class="form-element">
    <input matInput placeholder="CUIL" formControlName="cuil" mask="00-00000000-0">
    <mat-error *ngIf="form.get('cuil').hasError('required')">
      El CUIL es un dato <strong>requerido</strong>.
    </mat-error>
    <mat-error *ngIf="form.get('cuil').hasError('cuil')">
      El CUIL no es <strong>válido</strong>.
    </mat-error>
  </mat-form-field>
  <button id="btn_buscar" type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Buscar</button>
</form>

<table mat-table [dataSource]="personas" *ngIf="personas.length" fxFill>

  <ng-container matColumnDef="documento">
    <th mat-header-cell *matHeaderCellDef> Nro. Documento</th>
    <td mat-cell *matCellDef="let element"> {{element.nroDocumento}} </td>
  </ng-container>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre</th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef> Apellido</th>
    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
  </ng-container>
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button type="button" (click)="seleccionar(element)">
        <mat-icon>check</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row
      *matHeaderRowDef="['documento','apellido','nombre','acciones']; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: ['documento','apellido','nombre','acciones'];"></tr>
</table>
</div>
