<div fxLayout="row" fxLayoutAlign="space-between start" class="title">
  <h1 mat-dialog-title *ngIf="!data.esProd">{{ data.title | uppercase}}</h1><!--- DESARROLLO ---------->
  <h1 mat-dialog-title *ngIf="data.esProd">SE PRODUJO UN INCONVENIENTE</h1><!---- PRODUCCION ---------->
  <mat-icon class="icono-alerta">error_outlined</mat-icon>
</div>

<!--------------------- MENSAJE DE DESARROLLO ---------------------------------->
<mat-dialog-content *ngIf="!data.esProd">
  <div *ngIf="data.content.errorControlado">
    <p>{{data.message}}</p>
    <ul>
      <li *ngFor="let message of data.content.errores">{{message.titulo}}</li>
    </ul>
  </div>
</mat-dialog-content>

<!--------------------- MENSAJE DE PRODUCCION ---------------------------------->
<mat-dialog-content *ngIf="data.esProd">
  <div>
    <p>Intentelo nuevamente más tarde.</p>
    <p>Podes realizar tus consultas o informar la situación por WhatsApp:</p>
    <ul>
      <li><strong>XMI:</strong> 351 210-7042</li>
      <li><strong>PIP:</strong> 351 212-0516</li>
    </ul>
  </div>
  <div fxLayout="row" fxLayoutAlign="end start">
    <button mat-icon-button aria-label="Copiar datos del error"
            [cdkCopyToClipboard]="data.prodMessages" matTooltip="Copiar datos del error">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</mat-dialog-content>

<!------------------- compartido ------------------>
<mat-divider></mat-divider>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [mat-dialog-close]="data.title">
    {{ data.closeButtonLabel }}
  </button>
</mat-dialog-actions>
