<app-loading-spinner></app-loading-spinner>
<div fxLayout="column" fxFlexFill>
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
  <footer fxLayout="column">
    <div id="cba-images" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center" fxLayoutGap.gt-sm="15px">
      <!--<img src="assets/img/logo-desarrollo-social.png" alt="Ministerio" />-->
      <img src="assets/img/cba-entre-todos.png"  alt="Gobierno de la Provincia de Córdoba" />
    </div>
  </footer>
</div>
