@import '~@angular/material/_theming.scss';

@include mat-core();

footer {
  left: 0;
  right: 0;
  color: white;
  font-size: 11px;
  background: #53aae0;
  z-index: 3;
}

#cba-images img {
  padding: 10px;
  height: 70px;
}
