<div fxLayout="row" fxLayoutAlign="space-between start" id="title">
  <h1 mat-dialog-title>{{ data.title | uppercase}}</h1>
  <mat-icon>{{ getAlertIcon() }}</mat-icon>
</div>
<mat-dialog-content>
  <ul>
    <li *ngFor="let message of data.content">{{message}}</li>
  </ul>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [mat-dialog-close]="data.title">
    {{ data.closeButtonLabel }}
  </button>
</mat-dialog-actions>
