<div fxLayout="column" fxLayoutAlign="start strech" >
    <div fxLayout="row" fxLayoutAlign="start strech">
        <div fxLayout="column" fxLayoutAlign="start strech">
            <p class="seccion">ARTICULOS</p>
            <p ngClass="accion linea" ngClass.lt-md="accion-sm linea">REGISTRAR ARTÍCULO</p>
        </div>
    </div>
    <form [formGroup]="form" fxLayout="column" fxLayoutAlign="space-between" fxFlex="50">

        <div fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="space-between"
                 fxLayoutAlign.lt-sm="space-between strech" fxFlex.gt-sm="50" fxFlex.gt-md="40"
                 fxFill>
            <p class="label-form">Fecha de alta</p>
            <mat-form-field appearance="outline">
                <input matInput readonly placeholder="{{articulo.fechaAlta.toLocaleDateString()}}"/>
            </mat-form-field>
        </div>
        </div>
        <div fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="space-between"
                 fxLayoutAlign.lt-sm="space-between strech" fxFlex.gt-sm="50" fxFlex.gt-md="40"
                 fxFill>
            <p class="label-form">Unidad medida:</p>
            <mat-form-field appearance="outline">
                <mat-select placeholder="Seleccione" formControlName="nUnidadMedida" name="unidad">
                    <mat-option [value]="-1">
                        Seleccione
                    </mat-option>
                    <mat-option *ngFor="let unidad of lsUnidades" [value]="unidad.id">
                        {{unidad.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        </div>
        <div fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="space-between"
                 fxLayoutAlign.lt-sm="space-between strech" fxFlex.gt-sm="50" fxFlex.gt-md="40"
                 fxFill>
            <p class="label-form">Nombre:</p>
            <mat-form-field appearance="outline">
                <input matInput autosize="false" type="text" formControlName="txNombre">
            </mat-form-field>
        </div>
        </div>
    </form>
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1rem" class="div-btn">
        <button mat-raised-button
                class="btn-primary round btn-form"
                color="primary"
                [disabled]="!form.valid"
                (click)="registrarArticulo()">Aceptar
        </button>
        <button mat-stroked-button mat-flat-button class="btn-flat-primary btn-gob btn-form round"
                (click)="volver()">Cancelar
        </button>
    </div>
</div>
