.accion {
  font-size: 50px;
  color: rgba(112, 112, 112, 1);
  font-style: italic;
  font-weight: 500;
  letter-spacing: -2.5px;
}

.accion-sm {
  font-size: 2rem;
  color: rgba(112, 112, 112, 1);
  font-style: italic;
  font-weight: 500;
  letter-spacing: -2.5px;
}

.linea {
  display: inline-block;
  border-bottom: 1px solid #F5B349;
  margin-bottom: 2rem;
  padding-bottom: 15px;
}

.btn-form {
  width: 10rem;
}

.div-btn {
  margin-top: 2rem;
}
