<div fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-icon-button
          [disabled]="paginaActual==0"
          matTooltip="Página anterior"
          aria-label="Botón que permite volver a la página anterior"
          (click)="obtenerPagina(anterior())">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-icon-button
          [disabled]="ultimaPagina"
          matTooltip="Página siguiente"
          aria-label="Botón que permite ir a la página siguiente"
          (click)="obtenerPagina(siguiente())">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
