
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import 'cba-designsystem/cba-designsystem';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-primary: mat-palette($cba-blue);
$web-accent: mat-palette($cba-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$web-warn: mat-palette($cba-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-theme: mat-light-theme((
  color: (
    primary: $web-primary,
    accent: $web-accent,
    warn: $web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($web-theme);

/* You can add global styles to this file, and also import other style files */

html, body { position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  //min-width: 800px;
  background: rgba(255, 255, 255, 0.89);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

